<div class="container">
    <div class="row">
      <div class="col-12 align-self-center table-responsive">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col" *ngFor="let Act of actors">
            <div @Aparecer class="caja">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn-close" aria-label="Close" (click)="eliminar(Act.id)"></button>
            </div>
              <div class="card-body">
                <p class="color">Id: {{Act.id}}</p>
                <p class="color">Name: {{Act.nombre}}</p>
                <p class="color">BirthDay: {{Act.f_nacimiento}}</p>
                <p class="color">Nacionality: {{Act.nacionalidad}}</p>
                <p class="color">Star: {{Act.actor.inicio_carrera}}</p>
                <p class="color">Finish: {{Act.actor.final_carrera}}</p>
                <button class="detalles"(click)="leer(Act.actor.id)">Detalles</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
