<div class="container">
    <div class="row">
      <div class="col-12 align-self-center table-responsive">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col" *ngFor="let Pe of peliculas">
            <div @Aparecer class="caja">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn-close" aria-label="Close" (click)="eliminar(Pe.id)"></button>
            </div>
              <div class="card-body">
                <p class="color">Id: {{Pe.id}}</p>
                <p class="color">Name: {{Pe.nombre}}</p>
                <p class="color">Description: {{Pe.descripcion}}</p>
                <p class="color">Rate: {{Pe.calificacion}}</p>
                <p class="color">Duration: {{Pe.duracion}}</p>
                <p class="color">Category: {{Pe.categoria.nombre}}</p>
                <p class="color">Clasification: {{Pe.clasificacion.nombre}}</p>
                <button class="detalles" (click)="leer(Pe.id)">Detalles</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  