<div class="container">
    <div class="row">
      <div class="col">
        <div class="caja">
          <div class="card-body">
            <div *ngIf="!actualizar">
              <h3 @DerechaIzquierda class="color">Name: {{PR.nombre}}</h3> <br>
              <h3 @DerechaIzquierda class="color">President: {{PR.presidente}}</h3> <br>
              <h3 @DerechaIzquierda class="color">Propietary: {{PR.propietario}}</h3> <br>
              <h3 @DerechaIzquierda class="color">Website: {{PR.sitio_web}}</h3> <br>
              <div class="d-grid gap-2">

                <button (click)="inputs()" class="actualizar" >Actualizar</button>
              </div>
            </div>
            <div *ngIf="actualizar">
  
              <div @IzquierdaDerecha  class="mb-3">
                <label for="inpName" class="form-label; labels">Name</label>
                <input type="text" [(ngModel)]="PR.nombre" class=" bg-dark text-white form-control" id="inpName" name="inpName">
              </div>
              <div @IzquierdaDerecha  class="mb-3">
                <label for="inpPresident" class="form-label; labels">President</label>
                <input type="text" [(ngModel)]="PR.presidente" class=" bg-dark text-white form-control" id="inpPresident" name="inpPresident">
              </div>
              <div @IzquierdaDerecha  class="mb-3">
                <label for="inpPropietary" class="form-label; labels">Propietary</label>
                <input type="text" [(ngModel)]="PR.propietario" class=" bg-dark text-white form-control" id="inpPropietary" name="inpPropietary">
              </div>
              <div @IzquierdaDerecha  class="mb-3">
                <label for="inpWebsite" class="form-label; labels">Website</label>
                <input type="url" [(ngModel)]="PR.sitio_web" class=" bg-dark text-white form-control" id="inpWebsite" name="inpWebsite">
              </div>
              <div class="d-grid gap-2">
                <button (click)="modificar()" class="actualizar" >Finalizar</button><br>
                <button (click)="inputs()" class="cancelar" >Cancelar</button>
              </div>
            </div>
            <br>
            <button routerLink="/LPR" class="volver" >Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="error" class="container card"  >
    <div class="row card-body align-items-center">
      <div class="col align-self-center">
        <div class="alert alert-danger">
          HA HABIDO UN PROBLEMA PROCESANDO LA SOLICITUD, VUELVA A INTENTARLO
        </div>
      </div>
    </div>
  </div>
  