<div class="container">
    <div class="row">
      <div class="col-12 align-self-center table-responsive">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col" *ngFor="let users of usuarios">
            <div class="card">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn-close" aria-label="Close" (click)="eliminar(users.id)"></button>
            </div>
              <div class="card-body">
                <p class="card-text">Id: {{users.id}}</p>
                <p class="card-text">Name: {{users.nombre}}</p>
                <p class="card-text">Username: {{users.usuario.username}}</p>
                <p class="card-text">Email: {{users.usuario.email}}</p>
                <p class="card-text">BirthDay: {{users.f_nacimiento}}</p>
                <p class="card-text">Nacionality: {{users.nacionalidad}}</p>
                <p class="card-text"><a (click)="leer(users.usuario.id)" class="btn btn-info" >Detalles</a></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  