
<div class="alert alert-danger" role="alert">
  <table style="border: hidden">
    <tbody style="border: hidden">
    <tr style="border: hidden">
    <td @BVD style="border: hidden; font-size:130px;">B</td>
    <td @IE style="border: hidden; font-size:130px;">I</td>
    <td @ENO style="border: hidden; font-size:130px;">E</td>
    <td @NI style="border: hidden; font-size:130px;">N</td>
    <td @BVD style="border: hidden; font-size:130px;">V</td>
    <td @IE style="border: hidden; font-size:130px;">E</td>
    <td @ENO style="border: hidden; font-size:130px;">N</td>
    <td @NI style="border: hidden; font-size:130px;">I</td>
    <td @BVD style="border: hidden; font-size:130px;">D</td>
    <td @ENO style="border: hidden; font-size:130px;">O</td>
    </tr>
    </tbody>
  </table>
</div>