<div @Aparecer class="card text-white bg-dark mb-3" style="max-width: 18rem; border-radius: 2rem;">
    <div class="card-header">
        <h3>Idiomas</h3></div>
    <div class="card-body text-secondary">
        <div class="form-outline mb-4">
            <input type="text" id="Region" class="bg-dark text-white form-control form-control-lg" placeholder="Region"/>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="Nombre" class="bg-dark text-white form-control form-control-lg" placeholder="Nombre"/>
          </div>
          <button class="btn btn-success btn-lg btn-block" type="submit">Guardar</button>
    </div>
  </div>


