<div class="card text-white bg-dark mb-3" style="max-width: 50rem; border-radius: 2rem;">
    <div class="card-header">
        <h3>Peliculas</h3></div>
    <div class="card-body text-secondary">
        <div class="form-outline mb-4">
            <label>Nombre De Pelicula</label>
            <input [(ngModel)] = "pelicula_nueva.nombre" type="text" id="Nombre" class="bg-dark text-white form-control form-control-lg" #nombre="ngModel" required [ngClass]="{'is-valid': !nombre.invalid, 'is-invalid': nombre.invalid}" placeholder="Nombre"/>
            <div class="invalid-feedback" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <div *ngIf="nombre.errors?.['required']">
                Introduzca un Nombre de Pelicula
            </div>
          </div>
          <div class="form-outline mb-4">
            <label>Descripcion De Pelicula</label>
            <textarea [(ngModel)] = "pelicula_nueva.descripcion" rows="4" id="Descripcion" class="bg-dark text-white form-control form-control-lg" #descripcion="ngModel" required [ngClass]="{'is-valid': !descripcion.invalid, 'is-invalid': descripcion.invalid}" placeholder="Descripcion"></textarea>
            <div class="invalid-feedback" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
              <div *ngIf="descripcion.errors?.['required']">
                Introduzca una Descripcion de Pelicula
            </div>
          </div>
          <div class="form-outline mb-4">
            <label>Duracion De Pelicula (en minutos)</label>
            <input [(ngModel)] = "pelicula_nueva.duracion" min="1" type="number" id="Duracion" class="bg-dark text-white form-control form-control-lg" #duracion="ngModel" required [ngClass]="{'is-valid': !duracion.invalid, 'is-invalid': duracion.invalid}" placeholder="Duracion"/>
            <div class="invalid-feedback" *ngIf="duracion.invalid && (duracion.dirty || duracion.touched)">
              <div *ngIf="duracion.errors?.['required']">
                Introduzca una Duracion de Pelicula
            </div>
            <div *ngIf="duracion.errors?.['min']">
            </div>
          </div>
          </div>
          <div class="form-outline mb-4">
            <label>Calificacion De Pelicula</label>
            <input [(ngModel)] = "pelicula_nueva.calificacion" min="1"[max]="100" type="number" id="Calificacion" class="bg-dark text-white form-control form-control-lg" #calificacion="ngModel" required [ngClass]="{'is-valid': !calificacion.invalid, 'is-invalid': calificacion.invalid}" placeholder="Calificacion"/>
            <div class="invalid-feedback" *ngIf="calificacion.invalid && (calificacion.dirty || calificacion.touched)">
              <div *ngIf="calificacion.errors?.['required']">
                Introduzca una Calificacion a la Pelicula
            </div>
          </div>
          <div class="form-outline mb-4">
            <label>Clasificacion De Pelicula</label>
            <select [(ngModel)] = "pelicula_nueva.clasificacion_id" autocomplete="off"  class="form-select bg-dark text-white form-control form-control-lg" id="clasificacion" #clasificacion="ngModel" required [ngClass]="{'is-valid': !clasificacion.invalid, 'is-invalid': clasificacion.invalid}" placeholder="Clasificacion">
              <option *ngFor="let clas of clasificaciones" [value]="clas.id" selected>{{clas.nombre}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Edad Minima: {{clas.edad_minima}}  </option>
            </select>
            <div class="invalid-feedback" *ngIf="clasificacion.invalid && (clasificacion.dirty || clasificacion.touched)">
              <div *ngIf="clasificacion.errors?.['required']">
                Introduzca una Clasificacion a la Pelicula
            </div>
          </div>

          <div class="form-outline mb-4">
            <label>Categoria De Pelicula</label>
            <select  [(ngModel)] = "pelicula_nueva.categoria_id" autocomplete="off"  class="form-select bg-dark text-white form-control form-control-lg" id="Categoria" #categoria="ngModel" required [ngClass]="{'is-valid': !categoria.invalid, 'is-invalid': categoria.invalid}" placeholder="Categoria">
              <option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)">
              <div *ngIf="categoria.errors?.['required']">
                Introduzca una Categoria a la Pelicula
            </div>
          </div>
          <button (click)="enviar()" class="btn btn-success btn-lg btn-block" type="submit">Guardar</button>
    </div>
  </div>

