
<div @Aparecer class="card text-white bg-dark mb-3" style="max-width: 18rem; border-radius: 2rem;">
    <div class="card-header">
        <h3>Sign In</h3></div>
    <div class="card-body text-secondary">
        <div class="form-outline mb-4">
            <input type="email" id="Email" class="bg-dark text-white form-control form-control-lg" placeholder="Email"/>
          </div>

          <div class="form-outline mb-4">
            <input type="password" id="Pass" class="bg-dark text-white form-control form-control-lg" placeholder="Password"/>
          </div>

          <div class="form-check d-flex justify-content-start mb-4">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="Chb"
            />
            <label class="form-check-label" for="form1Example3">Remember password </label>
          </div>

          <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

    </div>
  </div>

