<br><br>
<br><br>
<div @Aparecer class="card text-white bg-dark mb-3" style="max-width: 18rem; border-radius: 2rem;">
  <div class="card-header">
      <h3>Sign In</h3></div>
      <div class="card-body text-secondary">
        <label for="inpEmail" class="form-label text-white">Email address</label>
        <input type="email" [(ngModel)]="user.email" name="email" class=" bg-dark text-white form-control" id="inpEmail" #email="ngModel" placeholder="Email" aria-describedby="emailHelp" required [ngClass]="{'is-valid': !email.invalid, 'is-invalid': email.invalid}" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"/>
        <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors?.['required']">
            Introduzca un correo electrónico válido por favor {{ email.value }}
          </div>
          <div *ngIf="email.errors && email.errors?.['pattern']">
            El correo electrónico no sigue el formato correcto. Sigue este ejemplo: pedro@gmail.com
            {{ email.value }}
          </div>
        </div>
        <br>
        <label for="inpPassword" class="form-label text-white">Password</label>
        <input type="password"[(ngModel)]="user.password" name="password" minlength="8" class=" bg-dark text-white form-control"  id="inpPassword" #password="ngModel" placeholder="Password" required [ngClass]="{'is-valid': !password.invalid, 'is-invalid': password.invalid}" />
        <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors?.['minlength']">
            Introduzca una Contraseña con 8 Caracteres Minimo
          </div>
          <div *ngIf="password.errors?.['required']">
            Introduzca una contraseña por favor
          </div>
        </div>
<br>
        <button (click)="send()"class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        <p class="text-center"><a routerLink="/register" class="btn text-white">You dont have an account?</a></p>
  </div>
</div>

