<footer class="bg-danger text-dark py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <h4 style="font-size: 30px;"> UNIVERSIDAD TECNOLOGICA DE TORREON </h4> <br>
          <h5 style="font-size: 30px;">Asignatura: </h5><br>
          <h5  style="font-size: 30px;">Aplicaciones Web para I4.0</h5><br>
          <h5  style="font-size: 30px;">Maestro: </h5><br>
          <h5  style="font-size: 30px;">Igmar Salazar Rodriguez</h5><br>
          <h5  style="font-size: 30px;">Integrantes:</h5><br>
          <h5  style="font-size: 30px;">Miguel Angel Castro Vaquera 19170023</h5><br>
          <h5  style="font-size: 30px;">Pedro Arturo de Santiago Mijares 19170057</h5><br>
        </div>
        <div class="col-6">
          <img src="../../../../assets/UTTcoyotemedio.png" class="rounded float-end img-fluid" alt="...">
        </div>
      </div>
    </div>
  </footer>
  