

<footer class="bg-danger text-dark py-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <h4> UNIVERSIDAD TECNOLOGICA DE TORREON </h4> <br>
        Asignatura: <br>
        Aplicaciones Web para I4.0<br>
        Maestro: <br>
        Igmar Salazar Rodriguez<br>
        Integrantes:<br>
        Miguel Angel Castro Vaquera 19170023<br>
        Pedro Arturo de Santiago Mijares 19170057<br>
      </div>
      <div class="col-4">
        <img src="../../../../assets/UTTcoyotemedio.png" class="rounded float-end img-fluid" alt="...">
      </div>
    </div>
  </div>
</footer>
