<div class="container">
  <div class="row">
    <div class="col">
      <div class="caja">
        <div class="abajo">
          <h2 class="sombra">Name: {{Peli.nombre}}</h2>
        </div>
        <div class="card-body">
          <div *ngIf="!actualizar">
            <div class="row g-0">
              <div class="col-md-4">
                <img [src]="url" class="img-fluid rounded-start" alt="...">
                <div><br>
                <input type = "file" class="examinar" (change)="imageselected($event)"></div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="color" align="left">Description: {{Peli.descripcion}}</p>
                  <p class="color"align="left">Duration: {{Peli.duracion}}</p>
                  <p class="color"align="left">Rate: {{Peli.calificacion}}</p>
                  <p class="color"align="left">Clasification: {{Cla.nombre!}}</p>
                  <p class="color"align="left">Category: {{Cat.nombre}}</p>
                </div>
              </div>
            </div>
            <div >
              <button (click)="inputs()" class="actualizar" >Actualizar</button><br><br>
            </div>
          </div>
          <div *ngIf="actualizar">
            <div @IzquierdaDerecha  class="mb-3">
              <label for="inpName" class="form-label; labels">Name</label>
              <input type="text" [(ngModel)]="Peli.nombre" class=" bg-dark text-white form-control" id="inpName" name="inpName">
            </div>
            <div @IzquierdaDerecha  class="mb-3">
              <label for="inpDescription" class="form-label; labels">Description</label>
              <input type="text" [(ngModel)]="Peli.descripcion" class=" bg-dark text-white form-control" id="inpDescription" name="inpDescription">
            </div>
            <div @IzquierdaDerecha  class="mb-3">
              <label for="inpDuration" class="form-label; labels">Duration</label>
              <input type="text" [(ngModel)]="Peli.duracion" class=" bg-dark text-white form-control" id="inpDuration" name="inpDuration">
            </div>
            <div @IzquierdaDerecha  class="mb-3">
              <label for="inpRate" class="form-label; labels">Rate</label>
              <input type="text" [(ngModel)]="Peli.calificacion" class=" bg-dark text-white form-control" id="inpRate" name="inpRate">
            </div>
            <div @IzquierdaDerecha class="form-outline mb-4">
              <label class="labels">Categoria De Pelicula</label>
              <select  [(ngModel)] = "Peli.categoria_id" class="form-select bg-dark text-white form-control form-control-lg" id="Categoria" #categoria="ngModel" placeholder="Categoria">
              <option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</option>
              </select>
            </div>
            <div @IzquierdaDerecha class="form-outline mb-4">
              <label class="labels">Clasificacion De Pelicula</label>
              <select [(ngModel)] ="Peli.clasificacion_id"  class="form-select bg-dark text-white form-control form-control-lg" id="clasificacion" #clasificacion="ngModel" placeholder="Clasificacion">
              <option *ngFor="let clas of clasificaciones" [value]="clas.id" selected>{{clas.nombre}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Edad Minima: {{clas.edad_minima}}  </option>
              </select>
            </div>
            <div class="d-grid gap-2">
              <p><button (click)="modificar()" class="actualizar" >Finalizar</button></p>
              <p><button (click)="inputs()" class="cancelar" >Cancelar</button></p>
            </div>
          </div>
          <button routerLink="/LP" class="volver" >Volver</button>
        </div>
        <div>
          <h2 class="sombra1">Comentarios</h2>
          <div class="container">
            <div class="crd">
              <div class="card-body text-dark">
                <form #forma="ngForm">
                <input type="text" class=" bg-dark text-whithe form-control" ngModel name="comentario" required [ngClass]="{'is-valid': !comentario.invalid, 'is-invalid': comentario.invalid}"  #comentario="ngModel" id="comentario" name="comentario" placeholder="Añada un Comentario">
                <div class="invalid-feedback" *ngIf="comentario.invalid && (comentario.dirty || comentario.touched)">
              <div *ngIf="comentario.errors?.['required']">
                Añada un Comentario Sobre la Pelicula {{Peli.nombre}}.
              </div>
              </div>
            </form>
            </div>
          </div>
        </div><br>
      </div>
      <div><br>
        <button  [disabled]="!forma.valid"  type="submit" class="enviar">Enviar</button>
      </div><br>
    </div>
  </div>
  </div>

<div *ngIf="error" class="container card"  >
  <div class="row card-body align-items-center">
    <div class="col align-self-center">
      <div class="alert alert-danger">
        HA HABIDO UN PROBLEMA PROCESANDO LA SOLICITUD, VUELVA A INTENTARLO
      </div>
    </div>
  </div>
</div>

