<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
            <div class="card-header">
              <h2>Name: {{Peli.nombre}}</h2>
            </div>
          <div  *ngIf="!actualizar"  class="card-body">
            
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../../assets/imagen.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text" align="left">Description: {{Peli.descripcion}}</p>
                  <p class="card-text"align="left">Duration: {{Peli.duracion}}</p>
                  <p class="card-text"align="left">Rate: {{Peli.calificacion}}</p>
                  <p class="card-text"align="left">Clasification: {{Cla.nombre!}}</p>
                  <p class="card-text"align="left">Category: {{Cat.nombre}}</p>
                  <!-- <h3 align="left">Personajes</h3>
                  <div *ngFor="let p of pap" >
                    <p align="left">{{p.papel}}: Interpretado por {{p.actor!.persona!.nombre}}</p>
                  </div>
                  <h3 align="left">Idiomas</h3>
                  <div *ngFor="let i of idiomas" >
                    <p align="left">{{i.nombre}}</p>
                  </div>
                  <h3 align="left">Productoras</h3>
                  <div *ngFor="let prod of productoras" >
                    <p align="left">{{prod.nombre}}</p>
                  </div> -->
                </div>
              </div>
            </div>
              <div class="d-grid gap-2">

                <a (click)="inputs()" class=" btn btn-success" >Actualizar</a>
              </div>
            </div>
            <div class="card-body" *ngIf="actualizar">
  
              <div @IzquierdaDerecha  class="mb-3">
                <label for="inpName" class="form-label">Name</label>
                <input type="text" [(ngModel)]="Peli.nombre" class=" bg-dark text-white form-control" id="inpName" name="inpName">
              </div>
              <div @IzquierdaDerecha  class="mb-3">
                <label for="inpDescription" class="form-label">Description</label>
                <input type="text" [(ngModel)]="Peli.descripcion" class=" bg-dark text-white form-control" id="inpDescription" name="inpDescription">
              </div>
              <div @IzquierdaDerecha  class="mb-3">
                <label for="inpDuration" class="form-label">Duration</label>
                <input type="text" [(ngModel)]="Peli.duracion" class=" bg-dark text-white form-control" id="inpDuration" name="inpDuration">
              </div>
              <div @IzquierdaDerecha  class="mb-3">
                <label for="inpRate" class="form-label">Rate</label>
                <input type="text" [(ngModel)]="Peli.calificacion" class=" bg-dark text-white form-control" id="inpRate" name="inpRate">
              </div>
              <div @IzquierdaDerecha  class="mb-3">
                <label for="inpClasification" class="form-label">Clasification</label>
                <input type="text" [(ngModel)]="Cla.nombre" class=" bg-dark text-white form-control" id="inpClasification" name="inpClasification">
              </div>
              <div @IzquierdaDerecha  class="mb-3">
                <label for="inpCategory" class="form-label">Category</label>
                <input type="text" [(ngModel)]="Cat.nombre" class=" bg-dark text-white form-control" id="inpCategory" name="inpCategory">
              </div>
              

              <br>
              <div class="d-grid gap-2">
                <a (click)="modificar()" class="btn btn-success" >Finalizar</a>
                <a (click)="inputs()" class="btn btn-secondary" >Cancelar</a>
              </div>
            </div>
            <br>
            <a routerLink="/LP" class="btn btn-dark" >Volver</a>
          </div>
        </div>
      </div>
    </div>
  
  <div *ngIf="error" class="container card"  >
    <div class="row card-body align-items-center">
      <div class="col align-self-center">
        <div class="alert alert-danger">
          HA HABIDO UN PROBLEMA PROCESANDO LA SOLICITUD, VUELVA A INTENTARLO
        </div>
      </div>
    </div>
  </div>
  
